body {
	margin: 0;
	padding: 0;
  }
  
  .mainContent {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Helvetica, sans-serif;
  
	display: flex; /* Add display: flex to mainContent */
	
  
	.right {
		width: 35%;
		background-color: #e0e0e0;
		color: #333; /* Adjust text color */
		position: relative;
		height: 100vh; /* Set height to 100% of the viewport height */
		overflow-y: auto;
		padding: 20px;
	  }
	  
  
	  .left {
		flex: 1; /* Allow the right side to take remaining space */
		position: relative;
		height: 100%;
		overflow-y: auto;
		padding: 60px; /* Add padding */
		height: 100vh; /* Set height to 100% of the viewport height */
	  }
  
  

  
	.printBtn {
	  padding: 10px 15px;
	  border-radius: 5px;
	  font-size: 18px;
	  outline: none;
	  border: none;
	  position: fixed;
	  bottom: 20px; /* Adjust bottom spacing */
	  right: 20px; /* Adjust right spacing */
	  margin: 10px 25px;
	  color: #fff;
	  cursor: pointer;
	  background-color: #1e1e1e;
	  transition: ease-in-out 200ms;
  
	  &:hover {
		box-shadow: 0 0 25px 0 #4e4e4e;
	  }
	}
  }
  